*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
}

.container {
  max-width: 100px;
  margin: 0 auto;
  padding: 0 20px;
}
