@media (max-width: 424px) {
  .header {
    height: 50vh;
  }

  .main-nav {
    a {
      margin-left: $base-size * 2;
      margin-right: $base-size * 2;
      font-size: $base-size;
    }
  }

  .green-audio-player {
    max-width: 300px;
  }

  .song__title {
    font-size: $base-size;
  }

  .song__info {
    font-size: $base-size;
  }

  h1 {
    font-size: $base-size * 4;
    letter-spacing: $base-size * 1.5;
    margin: 0 0 0 10px;
  }

  h2 {
    font-size: $base-size * 0.8;
    letter-spacing: $base-size * 0.2;
    margin: 0 10px 0 0;
  }

  .btn {
    padding: $base-size * 0.5;
    font-size: $base-size * 0.7;
    letter-spacing: $base-size * 0.2;
  }

  #subscribe {
    height: 35vh;

    &__title {
      font-size: $base-size * 1.8;
      letter-spacing: $base-size * 0.6;
    }

    &__now {
      top: 65%;
      left: 20%;
    }

    &__artist {
      height: 150px;
      max-width: 110px;
      left: 58%;

      .name {
        left: -35%;
        font-size: $base-size * 2;
        letter-spacing: $base-size * 0.4;
      }

      .surname {
        font-size: $base-size * 2;
        letter-spacing: $base-size * 0.4;
      }

      .album {
        font-size: $base-size * 0.6;
        letter-spacing: $base-size * 0.1;
      }

      .only {
        font-size: $base-size * 0.6;
        letter-spacing: $base-size * 0.1;
        left: -3%;
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .header {
    height: 55vh;
  }

  .green-audio-player {
    min-width: 300px;
  }

  .song__info {
    font-size: $base-size * 1.2;
  }

  h1 {
    font-size: $base-size * 5;
    letter-spacing: $base-size * 2;
    margin: 0 0 0 14px;
  }

  h2 {
    font-size: $base-size;
    letter-spacing: $base-size * 0.2;
    margin: 0 10px 0 0;
  }

  .btn {
    padding: $base-size * 0.6;
    font-size: $base-size * 0.8;
    letter-spacing: $base-size * 0.2;
  }

  #subscribe {
    height: 55vh;

    &__title {
      font-size: $base-size * 2.5;
      letter-spacing: $base-size;
    }

    &__now {
      top: 58%;
      left: 20%;
    }

    &__artist {
      height: 200px;
      max-width: 150px;
      left: 58%;

      .name {
        left: -35%;
        font-size: $base-size * 2.5;
      }

      .surname {
        font-size: $base-size * 2.5;
      }

      .album {
        font-size: $base-size;
        letter-spacing: $base-size * 0.2;
      }

      .only {
        font-size: $base-size;
        letter-spacing: $base-size * 0.2;
        left: -35%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: $base-size * 8;
    letter-spacing: $base-size * 4;
    margin: 0 0 0 28px;
  }

  h2 {
    font-size: $base-size * 1.5;
    letter-spacing: $base-size * 0.5;
  }
  h6 {
    font-size: $base-size * 1.4;
  }

  .btn {
    padding: $base-size * 1.2;
    font-size: $base-size * 1.2;
  }

  #subscribe {
    &__now {
      top: 60%;
      left: 20%;
    }

    &__artist {
      height: 320px;
      max-width: 260px;
      left: 58%;

      .name {
        left: -30%;
      }

      .album {
        font-size: $base-size * 1.4;
      }

      .only {
        font-size: $base-size * 1.4;
      }
    }
  }
}
