.song {
  margin: $base-size * 2 0;

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 6px;
    font-size: $base-size * 1.2;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: $base-size;
    font-size: $base-size * 1.5;
    color: $color-white;
    font-weight: 100;
    letter-spacing: 2px;
  }
}

.green-audio-player {
  .slider .gap-progress {
    background-color: $color-first;

    .pin {
      background-color: $color-first;
    }
  }

  .volume .volume__button.open path {
    fill: $color-first;
  }
}
