#subscribe {
  position: relative;
  height: 85vh;
  background-image: url(../images/subscribe.jpg);
  background-size: 100% 100%;
  background-position: center center;
  margin-top: $base-size * 8;

  &__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-size: $base-size * 5.2;
    letter-spacing: $base-size;
    font-weight: $font-light;
    white-space: nowrap;

    span {
      font-weight: bold;
    }
  }

  &__artist {
    background-image: url(../images/artist.jpg);
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    height: 400px;
    max-width: 320px;
    left: 56%;
    top: 17%;

    .name {
      position: absolute;
      color: $color-white;
      font-size: $base-size * 4.5;
      letter-spacing: $base-size;
      top: 60%;
      left: -25%;
      transform: translate(-50%, -50%);
      font-weight: $font-bold;
    }

    .surname {
      position: absolute;
      color: $color-white;
      font-size: $base-size * 4.5;
      letter-spacing: $base-size;
      top: 75%;
      transform: translate(-50%, -50%);
      font-weight: $font-bolder;

      span {
        color: $color-first;
      }
    }

    .album {
      position: absolute;
      font-size: $base-size * 2;
      letter-spacing: $base-size;
      font-weight: bold;
      top: 105%;
      right: -10%;
    }

    .only {
      white-space: nowrap;
      position: absolute;
      font-size: $base-size * 2;
      letter-spacing: $base-size * 0.5;
      color: $color-white;
      top: 115%;
      left: -40%;
    }
  }

  &__now {
    position: absolute;
    top: 56%;
    left: 26%;
    transform: translate(-50%, -50%);
  }
}
