h1 {
  display: flex;
  justify-content: center;
  color: $color-white;
  font-size: $base-size * 12;
  letter-spacing: $base-size * 4.5;
  margin: 0 0 0 28px;
  font-weight: bold;
}

h2 {
  margin: 0 20px 0 0;
  display: flex;
  justify-content: center;
  color: $color-white;
  font-size: $base-size * 2;
  letter-spacing: $base-size;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: $base-size * 3;
  letter-spacing: 6px;
}

h4 {
  display: flex;
  justify-content: center;
  color: $color-white;
  font-size: $base-size * 1.5;
  letter-spacing: 2px;
}

h6 {
  display: flex;
  color: $color-white;
  font-size: 14px;
  letter-spacing: 1px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 $base-size * 2;
  font-weight: 100;
}

.category-selector {
  text-decoration: none;
  margin: 0 2px;

  color: $color-white;

  &.active {
    color: $color-first;
    font-weight: bold;
  }
}

#check {
  padding: 6px;
  font-size: $base-size;
  font-weight: 100;
  letter-spacing: 2px;
}

#search {
  padding: 6px;
  border-radius: $radius * 2;
  border: none;
}
.element {
  text-transform: uppercase;
}

footer {
  color: $color-white;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  margin: $base-size;
}
