/* VARIABLES */
$font-text: 'Source Sans Pro', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$color-dark: #000000;
$color-light: #fff;
$color-first: #cf383e;

$base-size: 12px;
